/* camaraglocate1.css */

/* Style for the map container */
#map {
    height: 90vh; /* Increased height for the map */
    width: 100%; /* Full width */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f4f8; /* Light grey background */
    color: #333; /* Dark text color for contrast */
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    margin-left: 20px;
    font-size: 26px;
    color: navy; /* Title color */
    white-space: nowrap; /* Prevent the text from wrapping to the next line */
}

/* Style for the header and navigation bar */
.header {
    background-color: #f8f8f8;
    padding: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.nav-bar {
    display: flex;
    align-items: center;
    width: 100%;
}

.nav-bar .logo {
    width: 100px;
    height: auto;
    margin-right: 20px;
}

.nav-bar ul {
    display: flex;
    list-style: none;
    justify-content: flex-start;
}

.nav-bar ul li {
    margin-right: 20px;
}

.nav-bar ul li a {
    color: #333;
    font-weight: bold;
}

.nav-bar ul.right-menu {
    display: flex;
    margin-left: auto;
    margin-right: 2%;
}

.nav-bar ul.right-menu li {
    margin-left: auto;
}

.nav-bar ul.right-menu li a {
    color: #333;
}

.nav-bar ul li a:hover, 
.nav-bar ul.right-menu li a:hover {
    color: #007bff;
    border-bottom: 2px solid #262626;
}

.location-input {
    display: flex; /* Flexbox for input layout */
    align-items: center; /* Align items vertically */
}

.location-input select {
    padding: 10px;
    margin-right: 10px; /* Space between select and button */
    border-radius: 20px; /* Rounded corners for select */
    border: 1px solid #ced4da; /* Border style for select */
}

.location-input button {
    padding: 10px 20px;
    border-radius: 20px; /* Rounded corners for button */
    background-color: #007bff; /* Button color */
    color: white; /* Button text color */
    border: none; /* No border */
    cursor: pointer; /* Pointer on hover */
    transition: background-color 0.3s; /* Smooth transition */
}

.location-input button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

/* Style for the footer */
footer {
    text-align: center; /* Center text horizontally */
    padding: 2px 0; /* Minimal vertical padding */
    background-color: #e9ecef; /* Footer background color */
    position: relative; /* Keep it relative to the document flow */
    height: 30px; /* Set a smaller height for the footer */
    width: 100%; /* Full width */
    bottom: 0; /* Position at the bottom */
    display: flex; /* Use flexbox for centering */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
}
